*{
    font-family: 'Press Start 2P', cursive;
}

.section_game.active {
	display: block;
}

.section_game {
	display: none;
}

.griglia > * {
	/* width: calc(100% / 10); */
	aspect-ratio: 1;
	border: 2px solid #0963FD;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
}